<div id="header" class="nine columns">
	<div class='offset-by-three'>
	<h1><strong  class="texts"><%= @book.title %></strong></h1>
	<h3 class="texts"><%= @book.author %></h3>

	<ul>

		<% @book.posts.each do |post| %>
			<li class="texts"><%= post.message %></li>
		<% end %>
	</ul>

	<%= link_to "Edit", edit_book_path, :class => "links" %>  |  
	<%= link_to "Add word", "/books/#{@book.id}/posts", :class => "links" %>  |  
	<%= link_to "Delete", "/books/#{@book.id}", method:"delete", :class => "links" %>
	<br>
	<br>
	<br>
	<%= link_to "home", books_path, :class => "links" %>
	</div>
</div>